

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: auto;
}

iframe {
    width: 90%;
    height: 450px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

h3{
font-size:x-large;
margin-bottom: 10px;
font-weight: 600;
}
 div h5{
    color:rgb(46, 43, 43);
    font-size: medium;
    font-weight: 200;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.container div h5:nth-child(1){
color: black;
margin-top: 20px;
margin-bottom: 20px;
font-weight: 550;

}

span{
    text-decoration: underline;
    
}
svg{
    width: 13px;
    height: 13px;
}
   /* div + div{
    margin-top: 30px;
   } */

html,
body {
  font-size: 0.9rem;
}
@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300;600&display=swap");
* {
  font-family: "Tsukimi Rounded", sans-serif;
}
.navbarHome input {
  border: transparent;
}

.navbarHome a {
  text-decoration: none;
  color: rgb(26, 24, 24);
}

.navbarHome {
  font-size: 14px;
}

.guests input {
  width: 82px;
  overflow: hidden;
}

input:focus {
  outline: none;
}

@media (max-width : 768px){
  .disapper{
    display: none;
  }
}

.searchBarDesktop form {
  max-width: 700px;
}

.bi-search {
  border-radius: 50%;
  border-color: transparent;
  background-color: #ff385c;
  height: 30px;
  width: 30px;
  padding-left: 6px;
  padding-top: 3px;
}

.bi-list {
  color: grey;
}

/* DESKTOP */
@media (min-width: 768px) {
  .searchBarDesktop {
    display: flex !important;
    justify-content: center !important;
  }
}

.roberta {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#conf {
  background-color: #f7f7f7;
}
.short-review {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.vl {
  border-left: 1px solid gray;
  height: 100px;
}

#Layer_1 {
  rotate: 90deg;
  width: 50px;
  height: 50px;
}
.commenti img {
  border-radius: 50%;
  cursor: pointer; /* Cambia il cursore in una mano */
}
#breadcrumb {
  background-color: #f7f7f7;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 5px;
}
.central-dot::before {
  content: "•";
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.read-more-btn {
  cursor: pointer; /* Cambia il cursore in una mano */
  transition: text-decoration 0.3s ease; /* Aggiunge una transizione per un effetto più fluido */
}

.Portofino {
  cursor: pointer; /* Cambia il cursore in una mano */
  transition: text-decoration 0.3s ease; /* Aggiunge una transizione per un effetto più fluido */
}

.more {
  cursor: pointer; /* Cambia il cursore in una mano */
  transition: text-decoration 0.3s ease; /* Aggiunge una transizione per un effetto più fluido */
}
#interactive-list li {
  cursor: pointer; /* Cambia il cursore in una mano */
  transition: text-decoration 0.3s ease; /* Aggiunge una transizione per un effetto più fluido */
}

#interactive-list li:hover {
  text-decoration: underline; /* Sottolinea il testo al passaggio del mouse */
}

#social,
.list-group-item {
  background-color: #f7f7f7;
}
.btn-primary {
  --bs-btn-color: black;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #f7f7f7;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #f7f7f7;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
.btn-secondary {
  --bs-btn-color: white;
  --bs-btn-bg: #e61e4d;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #d70466;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #e31c5f;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
.btn-terziary {
  --bs-btn-color: black;
  --bs-btn-bg: white;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: ##f7f7f7;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #f7f7f7;
  --bs-btn-active-border-color: black;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
.btn-quartery {
  --bs-btn-color: white;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: grey;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: grey;
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
body {
  padding: 0 20%;
}
.bg-primary {
  --bs-primary-rgb: 247, 247, 247;
}
.central-dot::before {
  content: "•";
  padding-right: 0.5em;
  padding-left: 0.5em;
}

#gallery .row .row img {
  max-height: 200px;
}
#gallery img:nth-child(2) {
  border-top-right-radius: 30px;
}
#gallery img:nth-child(4) {
  border-bottom-right-radius: 30px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrap {
  height: 90px;
}
.priceList > div {
  display: flex;
  justify-content: space-between;
}

#price .list-group-item:nth-of-type(1) {
  border-radius: 0;
  border-top-left-radius: 8px;
}
#price .list-group-item:nth-of-type(2) {
  border-radius: 0;
  border-top-right-radius: 8px;
}
#price .list-group-item:nth-of-type(3) {
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.cosaTroverai {
  display: flex;
  flex-wrap: wrap;
}
.cosaTroverai > div {
  display: flex;
  margin-bottom: 1em;
  width: 50%;
}

.descrizione {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

#doveDormirai img {
  height: 200px;
  object-fit: cover;
}

.apriCarosello {
  border: 1px solid grey;
}
#gallery button {
  border: 1px solid black;
  background-color: #f7f7f7;
  border-radius: 5px;
  position: absolute;
  right: 7%;
  bottom: 5%;
}

#carosello {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}

.carousel-item {
  text-align: center;
}
#carosello span {
  color: white;
}
#carosello a {
  color: white;
}
img {
  cursor: pointer;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);

}

